body {
  /* background: rgba(255, 255, 255, 0.8) url(../images/background.jpg)linear-gradient(-180deg, #f6bf4e 1%,#f9d281 23%,#fffdf3 71%); */
  font-family: 'Open sans', sans-serif;
}

h1,
h2,
h3,
h4,
p {
  font-family: 'Heebo', sans-serif;
}

h1 {
  font-size: 72px;
  font-weight: 800;
}

h2 {
  font-size: 48px;

}


.masthead {
  padding: 60px 0px 25px 0px;
  /* background: rgba(255, 255, 255, 0.8) url(../images/background.jpg);
  background-size: cover;   */
  color: #333;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#55beda+0,6fdefc+100 */
  background: #000000;
  /* Old browsers */
  background: -webkit-linear-gradient(-45deg, #000000 0%, #222222 100%);
}

.content-page .masthead {
  padding: 20px 0px 5px 0px;
}



.masthead h1 {
  color: #333333;
  text-align: center;
  font-family: 'Heebo', sans-serif;
  font-size: 72px;
  font-weight: 800;
  /* background: linear-gradient(330deg, #e05252 0%, #99e052 25%, #52e0e0 50%, #9952e0 75%, #e05252 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
}




.content-page .masthead h1 {
  font-size: 24px;

}

.content-page .masthead img {
  height: 40px;


}

.we-can-build {

  background: rgba(255, 255, 255, 0.8) url(../images/background-workshop.jpg);
  background-size: cover;
  color: #333;

}

.we-can-build-text {
  padding: 60px;
  background-color: #fff;
  border: 20px solid rgba(255, 255, 255, 0.5);
}

nav .nav-item a {
  color: #ED831A;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-family: 'Heebo', sans-serif;
  padding: 0px 10px 10px 10px;
  margin-right: 10px;
}

.our-work-logo {
  max-width: 320px;
}

.our-work-logo.our-work-logo-mid {
  max-width: 200px;
}


.mookie h2 {
  color: #FC544B;
  font-size: 80px;
  line-height: 40px;
}

.mookie h2 span {
  font-size: 40px;
}

.mookie h1 {
  color: #FC544B;
}

.mookie .cta {
  background: #FC544B;
}

.corkscrew .cta {
  background: #5CB6D0;
}



.masthead h2 {
  text-align: center;
  font-family: 'Heebo', sans-serif;
  color: #e5e5e5;
  font-weight: 300;
}

.content h1 {
  font-family: 'Merriweather', sans-serif;
  text-align: center;
}

/* .content .container {
  padding: 40px 0px 10px 0px;
} */

h2 {
  color: #333333;
  /* font-family: 'Merriweather', sans-serif; */
}

h3 {
  color: #666666;
  font-family: 'Merriweather', sans-serif;
}

header {
  position: relative;
  height: 100vh;
  /* background: url(../images/background.jpg) linear-gradient(-180deg, #f6bf4e 1%,#f9d281 23%,#fffdf3 71%); */
  overflow: hidden;
}

/* .container {
  max-width: 1024px;
  margin: 0px auto 0px auto;
  padding: 40px 0px;
} */

/* .content .container {
  background: #FFF;
} */

.content h1 {
  color: #71CED9
}

.examples {
  background: #FFF;
}

.border-top-interim {
  border-top: 4px solid rgba(0, 0, 0, 0.1);
}

h2 {
  color: rgba(0, 0, 0, 0.75);
  /* font-family: 'Merriweather', sans-serif; */
  font-weight: 100;
  /* font-size: 40px; */
  margin: 10px 0px;
  letter-spacing: 0px;
}

.cta {
  color: #fff !important;
  padding: 18px 18px;
  background: #C92639;
  text-transform: uppercase;
  text-align: center;
  font-family: 'Open sans', sans-serif;
  margin: 0px auto;
  display: block;
  width: 300px;
  /* Old browsers */
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#24d3ff+0,2989d8+39,874bfe+73 */
  border-radius: 0px;
  box-shadow: 0px 0px 2px 5px rgba(0, 0, 0, 0.01);
  -webkit-transition: all .15s ease;
  transition: all .15s ease;
}

.cta-large {
  width: 320px;
}

.cta:hover {
  /* box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.5); */
  color: #fff;
  text-decoration: none;
  margin-top: -2px;
  margin-bottom: 2px;
  box-shadow: 0px 2px 2px 5px rgba(0, 0, 0, 0.1);


}

.footer {
  background: rgba(255, 255, 255, 0.8) url(../images/background.jpg);
  color: #E5E5E5;
}

@media (max-width: 767.98px) {
  .footer {
    text-align: center;
  }
}

.wordmark {
  font-family: 'Heebo', sans-serif;
  font-weight: 900;
}

.embellish-line {
  width: 180px;
  height: 5px;
  background-color: rgba(0, 0, 0, 0.2);
  right: 0;
}

.padding-top-none {
  padding-top: 0px !important;
}

.features-li {
  text-align: center;
  color: #333;
  display: block;
  margin-right: 10px;
  width: 40px;
  height: 40px;
}

.examples-corkscrew img {
  max-width: 320px;
}

.example-corkscrew {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  padding: 20px 40px 10px 40px;
  background: #ffffff;
}

.example-corkscrew img {
  margin-top: 20px;
  max-width: 180px;
  padding: 20px;
  box-sizing: content-box;
  /* border: 1px solid #E5E5E5; */
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

h2.wordmark-corkscrew {
  color: #248A99 !important;
}

.wordmark-corkscrew strong {
  font-weight: 900;
}

form .cta {
  float: none;
  margin-left: 0px;
  border: none;
  cursor: pointer;
}

.figure-note {
  font-size: 0.8em;
  color: #666666;
  text-align: center;
}

.pullquote {
  background: url(../images/tiny-squares.png);
  background-size: cover;
}

.pullquote h2 {
  font-size: 2.4em;
}

.pullquote.pullquote-john h2 {
  font-size: 1.6em;
}

hr {
  background-color: #ED831A;
  height: 2px;
}

section.our-work-section:nth-child(even) {
  background-color: #F5F5F5;
}

/* .home section:nth-child(even) {
  background-color: #F5F5F5;
} */


.works-page p {
  font-size: 20px;
  color: #666;
}

.client-logos div {
  position: relative;
  height: 200px;

}

.client-logos div img {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  padding: 1em;
}

.btn-primary {
  background: rgba(0, 0, 0, 0.8);
  width: 200px;
  margin: 0px auto;
  display: block;
}


/* Start Nav Styles */
.navbar {
  position: fixed;
  z-index: 999;
  top: 50%;
  right: 50px;
  transform: translateY(-50%);
}

.navbar .nav-menu {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navbar .nav-menu li {
  position: relative;
  min-width: 200px;
  text-align: right;
}

.navbar .nav-menu li .dot {
  display: block;
  color: #fff;
  padding: 5px 0;
}

.navbar .nav-menu li .dot::before,
.navbar .nav-menu li .dot::after {
  display: block;
  position: absolute;
  content: '';
  border-radius: 50%;
  top: 50%;
  transition: all .3s ease;
}

.navbar .nav-menu li .dot::before {
  width: 5px;
  height: 5px;
  right: 0;
  border: 2px solid #181818;
  transform: translateY(-50%);
}

.navbar .nav-menu li .dot::after {
  width: 15px;
  height: 15px;
  border: 2px solid #555;
  right: -5px;
  transform: translateY(-50%) scale(0);
}

.navbar .nav-menu li .dot.active::before,
.navbar .nav-menu li:hover .dot::before {
  background: #555;
  border-color: #444;
}

.navbar .nav-menu li .dot.active::after,
.navbar .nav-menu li:hover .dot::after {
  transform: translateY(-50%) scale(1);
}

.navbar .nav-menu li .dot span {
  display: inline-block;
  opacity: 0;
  font-weight: 700;
  letter-spacing: .5px;
  text-transform: capitalize;
  background-color: #555;
  padding: 10px 20px;
  border-radius: 3px;
  margin-right: 30px;
  transform: translateX(20px);
  transition: all .3s ease;
}

.navbar .nav-menu li .dot span::before {
  display: block;
  position: absolute;
  content: '';
  border-left: 7px solid #444;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  top: 50%;
  transform: translate(7px, -50%);
  right: 0;
  transition: all .3s ease;
}

.navbar .nav-menu li .dot.active span,
.navbar .nav-menu li:hover .dot span {
  transform: translateX(0px);
  opacity: 1;
}

/* End Nav Styles */