body {
  /* background: rgba(255, 255, 255, 0.8) url(../images/background.jpg)linear-gradient(-180deg, #f6bf4e 1%,#f9d281 23%,#fffdf3 71%); */
  font-family: 'Open sans', sans-serif;
}

.masthead {
  padding: 60px 0px 25px 0px;
  /* background: rgba(255, 255, 255, 0.8) url(../images/background.jpg) */
  color: #333;
}

.masthead h1 {
  color: #333333;
  text-align: center;
  font-family: 'Heebo', sans-serif;
  font-size: 72px;
  font-weight: 800;
  /* background: linear-gradient(330deg, #e05252 0%, #99e052 25%, #52e0e0 50%, #9952e0 75%, #e05252 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
}

.masthead h2 {
  text-align: center;
  font-family: 'Heebo', sans-serif;
  color: #666666;
  font-weight: 100;
}

.content h1 {
  font-family: 'Merriweather', sans-serif;
  text-align: center;
}

/* .content .container {
  padding: 40px 0px 10px 0px;
} */

h2 {
  color: #333333;
  font-family: 'Merriweather', sans-serif;
}

h3 {
  color: #666666;
  font-family: 'Merriweather', sans-serif;
}

header {
  position: relative;
  height: 100vh;
  /* background: url(../images/background.jpg) linear-gradient(-180deg, #f6bf4e 1%,#f9d281 23%,#fffdf3 71%); */
  overflow: hidden;
}

/* .container {
  max-width: 1024px;
  margin: 0px auto 0px auto;
  padding: 40px 0px;
} */

/* .content .container {
  background: #FFF;
} */

.content h1 {
  color: #71CED9
}

.examples {
  background: #FFF;
  border-top: 10px solid rgba(0, 0, 0, 0.1);
  border-bottom: 10px solid rgba(0, 0, 0, 0.1);
}

.border-top-interim {
  border-top: 4px solid rgba(0, 0, 0, 0.1);
}

.examples h2 {
  color: rgba(0, 0, 0, 0.5);
  font-family: 'Merriweather', sans-serif;
  font-weight: 100;
  font-size: 40px;
  margin: 10px 0px;
  letter-spacing: 0px;
}

.cta {
  color: #fff;
  padding: 18px 30px;
  background: #C92639;
  text-align: center;
  font-family: 'Open sans', sans-serif;
  margin: 0px auto;
  display: block;
  width: 200px;
  /* Old browsers */
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#24d3ff+0,2989d8+39,874bfe+73 */
}

.cta-large {
  width: 320px;
}

.cta:hover {
  /* box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.5); */
  color: #fff;
  text-decoration: none;
}

.footer {
  background: rgba(255, 255, 255, 0.8) url(../images/background.jpg);
  color: #E5E5E5;
}

@media (max-width: 767.98px) {
  .footer {
    text-align: center;
  }
}

.wordmark {
  font-family: 'Heebo', sans-serif;
  font-weight: 900;
}

.embellish-line {
  width: 180px;
  height: 5px;
  background-color: rgba(0, 0, 0, 0.2);
  right: 0;
}

.padding-top-none {
  padding-top: 0px !important;
}

.features-li {
  background: #c5c5c5;
  color: #FFFFFF;
  border-radius: 50%;
  padding: 6px 10px;
  margin-right: 10px;
}

.examples-corkscrew img {
  max-width: 320px;
}

.example-corkscrew {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  padding: 20px 40px 10px 40px;
  background: #ffffff;
}

.example-corkscrew img {
  margin-top: 20px;
  max-width: 180px;
  padding: 20px;
  box-sizing: content-box;
  /* border: 1px solid #E5E5E5; */
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

h2.wordmark-corkscrew {
  color: #248A99 !important;
}

.wordmark-corkscrew strong {
  font-weight: 900;
}

form .cta {
  float: none;
  margin-left: 0px;
  border: none;
  cursor: pointer;
}